frontend/亚马逊文案生成4.json
{
  "name": "亚马逊文案生成4",
  "nodes": [
    {
      "parameters": {},
      "id": "8f4d3e39-7925-418b-9302-8230df632d49",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 192]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "request_id",
              "name": "request_id",
              "type": "string",
              "value": "={{ ($json.body && $json.body.request_id) || $json.request_id || ($json.headers && $json.headers['x-request-id']) || $execution.id }}"
            },
            {
              "id": "title",
              "name": "title",
              "type": "string",
              "value": "={{ ($json.body && $json.body.title) || $json['产品标题(1688)'] || $json.title || '' }}"
            },
            {
              "id": "keywords",
              "name": "keywords",
              "type": "string",
              "value": "={{ ($json.body && $json.body.keywords) || $json['核心关键词'] || $json.keywords || '蓝牙耳机' }}"
            },
            {
              "id": "asin_link",
              "name": "asin_link",
              "type": "string",
              "value": "={{ ($json.body && $json.body.asin_link) || $json['参考ASIN链接'] || $json.asin_link || '' }}"
            },
            {
              "id": "product_img_url_list",
              "name": "product_img_url_list",
              "type": "array",
              "value": "={{ ($json.body && $json.body.product_img_url_list) ? $json.body.product_img_url_list : ($json.product_img_url_list ? $json.product_img_url_list : ($json['产品图片URL'] ? $json['产品图片URL'].split(',').map(s => s.trim()).filter(s => s) : [])) }}"
            },
            {
              "id": "competitor_img_url_list",
              "name": "competitor_img_url_list",
              "type": "array",
              "value": "={{ ($json.body && $json.body.competitor_img_url_list) ? $json.body.competitor_img_url_list : ($json.competitor_img_url_list ? $json.competitor_img_url_list : ($json['竞品图片URL'] ? $json['竞品图片URL'].split(',').map(s => s.trim()).filter(s => s) : [])) }}"
            },
            {
              "id": "product_specs",
              "name": "product_specs",
              "type": "string",
              "value": "={{ ($json.body && $json.body.product_specs) || $json['产品规格参数'] || $json.product_specs || '' }}"
            },
            {
              "id": "callback_url",
              "name": "callback_url",
              "type": "string",
              "value": "={{ ($json.body && $json.body.callback_url) || $json.callback_url || '' }}"
            },
            {
              "id": "country",
              "name": "country",
              "type": "string",
              "value": "={{ ($json.body && $json.body.country) || $json['目标国家'] || $json.country || 'jp' }}"
            },
            {
              "id": "prompt_lang",
              "name": "prompt_lang",
              "type": "string",
              "value": "={{ ($json.body && $json.body.prompt_lang) || $json['提示词语言'] || $json.prompt_lang || 'en' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86c0179c-44ff-40da-a741-17be6b251ddb",
      "name": "设置输入变量",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 288],
      "notes": "【使用前必改】请修改此节点的参数：\n- title: 产品标题（来自1688）\n- keywords: 核心关键词\n- asin_link: 参考ASIN链接\n- product_img_url_list: 产品图片URL数组（用于生图参考）\n- competitor_img_url_list: 竞品图片URL数组（用于分析竞品图片优点）\n- product_specs: 产品实际规格参数"
    },
    {
      "parameters": {
        "url": "={{ $('设置输入变量').item.json.asin_link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "ja-JP,ja;q=0.9,en;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "proxy": "http://117.160.15.50:17481",
          "timeout": 60000
        }
      },
      "id": "438eaa8b-ab17-448c-a94b-e439ac0364ff",
      "name": "竞品信息抓取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 384],
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.giikin.com/ai/gpt/v1/chat/conversationV4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('获取Token').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: [{ role: 'system', content: $('构建图片请求').item.json.request_body.messages[0].content }, { role: 'user', content: $('构建图片请求').item.json.request_body.messages[1].content }], model_engine: 'Qwen3-VL-8B-Instruct', source: 'n8n_workflow' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "1168b551-00df-4c4c-9d81-e4792e9c7186",
      "name": "图片识别与提示词反推",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [784, 192],
      "retryOnFail": true,
      "maxTries": 3,
      "notes": "【需配置凭证】通义千问API - Header: Authorization, Value: Bearer YOUR_API_KEY"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.giikin.com/ai/gpt/v1/chat/conversationV4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('获取Token').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: $('构建竞品解析请求').item.json.request_body.messages, model_engine: 'gpt-4o-mini', source: 'n8n_workflow' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "6da61615-9461-4918-af06-97da22a46879",
      "name": "竞品信息解析",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1008, 384],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "05b8dd06-6d6d-4d62-bed0-98a6ff74b958",
      "name": "合并信息",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1232, 288]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.giikin.com/ai/gpt/v1/chat/conversationV4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('获取Token').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: $('构建Listing请求').item.json.request_body.messages, model_engine: 'deepseek-r1', source: 'n8n_workflow' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "090880a6-1e65-4c4c-87a5-1eec72e01470",
      "name": "Listing文案生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 288],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.giikin.com/ai/gpt/v1/chat/conversationV4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('获取Token').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: $('构建做图请求').item.json.request_body.messages, model_engine: 'gpt-4o-mini', source: 'n8n_workflow' }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "11ce2083-1d5e-4624-9b82-f4ebcb717d10",
      "name": "做图提示词生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2128, 288],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.giikin.com/ai/gpt/v1/chat/conversationV4",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('获取Token').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: $('构建A+请求').item.json.request_body.messages, model_engine: 'gpt-4o-mini', source: 'n8n_workflow' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "aee25b24-ba9c-4a5f-9c05-4ee8e0de6b5c",
      "name": "A+提示词生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2576, 384],
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 提示词解析与批量请求构建（使用批量图片生成API）\n// 【修复】第一张图片强制满足亚马逊主图要求\n// 【增强】为每张图片的提示词添加强制产品图参考要求\n// 【优化】第一张白底主图不添加无关元数据信息\n// 【修复】兼容openapi.giikin.com API响应格式: {code:0, data:\"内容\", message:\"ok\"}\n\n// ============ 配置项（方便查看修改） ============\n// 【重要】n8n服务地址，用于替换callbackUrl中的host:port\nconst N8N_HOST = 'openapi.giikin.com';\nconst N8N_BASE_URL = `https://${N8N_HOST}`;\n\nconst inputItem = $input.first().json;\n\n// ============ 获取市场配置 ============\nlet country = 'jp';\nlet requestId = '';\nlet modelId = 3;\nlet promptLang = 'en';\n\nlet inputVars = {};\ntry {\n  inputVars = $('设置输入变量').first().json || {};\n  country = inputVars.country || 'jp';\n  requestId = inputVars.request_id || $execution.id;\n  modelId = inputVars.model_id || 3;\n  promptLang = inputVars.prompt_lang || 'en';\n} catch(e) {\n  requestId = $execution.id;\n}\n\nconst isChinesePrompt = promptLang === 'cn';\n\n// ============ 【新增】产品图片强制参考要求 ============\n// 这是强制生图模型严格参考产品图片的关键提示词\nconst PRODUCT_REFERENCE_REQUIREMENTS = isChinesePrompt ? {\n  prefix: '【必须严格参考提供的产品原图】产品外观、颜色、材质、形状、细节必须与参考图完全一致，',\n  suffix: '，【绝对红线】产品必须与参考图一模一样，不得自行想象或改变产品外观，产品是要售卖的商品必须准确还原'\n} : {\n  prefix: '[MUST STRICTLY REFERENCE PROVIDED PRODUCT IMAGES] Product appearance, color, material, shape, and details must be EXACTLY identical to reference images, ',\n  suffix: ', [ABSOLUTE REQUIREMENT] Product must look EXACTLY like the reference images, DO NOT imagine or change product appearance, this is a real product for sale that must be accurately reproduced'\n};\n\n// ============ 亚马逊主图强制要求（第一张图片专用） ============\n// 【关键】强制只展示单个产品，禁止多个产品，简洁白底主图\nconst AMAZON_MAIN_IMAGE_REQUIREMENTS = isChinesePrompt ? {\n  prefix: '纯白色背景 RGB(255,255,255)，【强制要求】只展示单个产品，绝对禁止出现多个产品或产品组合，',\n  suffix: '，产品为绝对主角居中展示，单个产品占画面85%以上，1000x1000像素以上高清画质，禁止任何配件出现，禁止水印，禁止LOGO，禁止任何文字，禁止促销信息，禁止多个商品，无变形，无失真，准确比例，专业影棚灯光，商业产品摄影'\n} : {\n  prefix: 'Pure white background RGB(255,255,255), [MANDATORY] ONLY ONE SINGLE PRODUCT, absolutely NO multiple products or product combinations allowed, ',\n  suffix: ', product as absolute hero centered, SINGLE product occupies 85%+ of frame, 1000x1000 pixels or higher resolution, NO accessories allowed, NO watermarks, NO logos, NO text of any kind, NO promotional information, NO multiple items, no distortion, accurate proportions, professional studio lighting, commercial product photography'\n};\n\n// ============ 市场专属文字设计规范 ============\nconst marketTextDesign = isChinesePrompt ? {\n  'jp': '使用现代日语黑体字体，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度配色红色#E60033或橙色#FF6600强调，微微投影增强可读性',\n  'us': '使用简洁现代无衬线字体如Montserrat或Helvetica，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度配色亚马逊橙#FF9900强调，微微投影增强可读性',\n  'uk': '使用优雅现代无衬线字体，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度深蓝色强调，微微投影增强可读性',\n  'de': '使用精确几何无衬线字体如DIN，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度深蓝或绿色#2E7D32强调，微微投影增强可读性',\n  'fr': '使用优雅衬线或无衬线字体如Garamond，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度酒红或金色#D4AF37强调，微微投影增强可读性',\n  'es': '使用温暖现代无衬线字体，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度暖橙色强调，微微投影增强可读性',\n  'it': '使用时尚展示字体如Futura，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度经典黑或金色强调，微微投影增强可读性',\n  'cn': '使用现代中文无衬线字体如苹方，文字置于底部20%横幅区域不遮挡产品，标题占图片高度10-12%加粗，副文字为标题的60%，高对比度红色#E60033或金色强调，微微投影增强可读性'\n} : {\n  'jp': 'text using modern Japanese Gothic style font, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with red #E60033 or orange #FF6600 accent, subtle drop shadow for readability',\n  'us': 'text using clean modern sans-serif font like Montserrat or Helvetica, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with Amazon orange #FF9900 accent, subtle drop shadow for readability',\n  'uk': 'text using elegant modern sans-serif font like Gill Sans, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with navy blue accent, subtle drop shadow for readability',\n  'de': 'text using precise geometric sans-serif font like DIN, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with dark blue or green #2E7D32 accent, subtle drop shadow for readability',\n  'fr': 'text using elegant serif or refined sans-serif font like Garamond, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with burgundy or gold #D4AF37 accent, subtle drop shadow for readability',\n  'es': 'text using warm modern sans-serif font like Proxima Nova, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with warm orange accent, subtle drop shadow for readability',\n  'it': 'text using stylish sans-serif or display font like Futura, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with classic black or gold accent, subtle drop shadow for readability',\n  'cn': 'text using modern Chinese sans-serif font like PingFang, text in bottom 20% banner area not overlapping product, headline 10-12% image height with bold weight, subtext 60% of headline size, high contrast with red #E60033 or gold accent, subtle drop shadow for readability'\n};\n\nconst textDesignPrompt = marketTextDesign[country] || marketTextDesign['us'];\n\n// ============ 获取参考图片URL ============\nlet imgUrls = [];\ntry {\n  const imgList = inputVars.product_img_url_list || [];\n  if (Array.isArray(imgList)) {\n    for (const img of imgList) {\n      let url = '';\n      if (typeof img === 'object' && img !== null) {\n        url = img.url || img.remote_url || '';\n      } else if (typeof img === 'string') {\n        url = img;\n      }\n      if (url && url.startsWith('http')) {\n        imgUrls.push(url);\n      }\n    }\n  }\n} catch (e) {}\n\n// ============ 产品图片状态标记 ============\nconst hasProductImages = imgUrls.length > 0;\n\n// ============ 【修复】兼容openapi.giikin.com API响应格式 ============\n// 从做图提示词生成节点获取AI生成的内容\nlet aiGeneratedContent = '';\n\n// 方式1：openapi.giikin.com 格式 - data直接是字符串内容\nif (inputItem.data !== undefined) {\n  if (typeof inputItem.data === 'string') {\n    aiGeneratedContent = inputItem.data;\n  } else if (inputItem.data && typeof inputItem.data === 'object') {\n    if (inputItem.data.content) aiGeneratedContent = inputItem.data.content;\n    else if (inputItem.data.message && typeof inputItem.data.message === 'string') aiGeneratedContent = inputItem.data.message;\n  }\n}\n\n// 方式2：标准OpenAI格式 choices[0].message.content\nif (!aiGeneratedContent && inputItem.choices && Array.isArray(inputItem.choices) && inputItem.choices[0]) {\n  if (inputItem.choices[0].message && inputItem.choices[0].message.content) {\n    aiGeneratedContent = inputItem.choices[0].message.content;\n  } else if (inputItem.choices[0].content) {\n    aiGeneratedContent = inputItem.choices[0].content;\n  }\n}\n\n// 方式3：其他可能的格式\nif (!aiGeneratedContent) {\n  if (inputItem.content) aiGeneratedContent = typeof inputItem.content === 'string' ? inputItem.content : JSON.stringify(inputItem.content);\n  else if (inputItem.result && typeof inputItem.result === 'string') aiGeneratedContent = inputItem.result;\n  else if (inputItem.text) aiGeneratedContent = inputItem.text;\n  else if (inputItem.response) aiGeneratedContent = typeof inputItem.response === 'string' ? inputItem.response : (inputItem.response.content || '');\n  else if (inputItem.output) {\n    if (typeof inputItem.output === 'string') aiGeneratedContent = inputItem.output;\n    else if (inputItem.output.content) aiGeneratedContent = inputItem.output.content;\n    else if (inputItem.output.text) aiGeneratedContent = inputItem.output.text;\n  }\n}\n\n// 调试信息\nconst debugInfo = {\n  contentLength: aiGeneratedContent.length,\n  hasJsonBlock: aiGeneratedContent.includes('```json'),\n  hasPromptsField: aiGeneratedContent.includes('\"prompts\"'),\n  parseMethod: 'none',\n  parseError: null,\n  parsedCount: 0,\n  promptLang: promptLang,\n  productImageCount: imgUrls.length,\n  hasProductImageReference: hasProductImages,\n  inputItemKeys: Object.keys(inputItem),\n  apiFormat: inputItem.data !== undefined ? 'giikin' : (inputItem.choices ? 'openai' : 'unknown')\n};\n\nconst prompts = [];\n\n// ============ 增强JSON解析函数 ============\nfunction safeJsonParse(str) {\n  if (!str || typeof str !== 'string') return null;\n  \n  try {\n    return JSON.parse(str);\n  } catch(e1) {\n    try {\n      let cleaned = str.replace(/^[\\s\\uFEFF\\xA0]+|[\\s\\uFEFF\\xA0]+$/g, '');\n      cleaned = cleaned.replace(/^[^{\\[]+/, '').replace(/[^}\\]]+$/, '');\n      return JSON.parse(cleaned);\n    } catch(e2) {\n      try {\n        let fixed = str\n          .replace(/,\\s*}/g, '}')\n          .replace(/,\\s*]/g, ']')\n          .replace(/([\\w\"'])\\s*\\n\\s*([\"'\\w{\\[])/g, '$1,$2');\n        return JSON.parse(fixed);\n      } catch(e3) {\n        return null;\n      }\n    }\n  }\n}\n\n// ============ 方法1: 提取并解析JSON块 ============\ntry {\n  const jsonBlockMatch = aiGeneratedContent.match(/```json\\s*([\\s\\S]*?)```/);\n  if (jsonBlockMatch && jsonBlockMatch[1]) {\n    const jsonStr = jsonBlockMatch[1].trim();\n    debugInfo.parseMethod = 'jsonBlock';\n    \n    const parsed = safeJsonParse(jsonStr);\n    if (parsed && parsed.prompts && Array.isArray(parsed.prompts)) {\n      for (let i = 0; i < parsed.prompts.length && i < 8; i++) {\n        const item = parsed.prompts[i];\n        const promptText = item.prompt || item.text || item.content || item.description || '';\n        if (promptText && promptText.length > 20) {\n          prompts[i] = promptText;\n        }\n      }\n      debugInfo.parsedCount = prompts.filter(p => p).length;\n    }\n  }\n} catch (e) {\n  debugInfo.parseError = 'jsonBlock: ' + (e.message || '');\n}\n\n// ============ 方法2: 直接匹配包含prompts的JSON对象 ============\nif (prompts.filter(p => p).length < 4) {\n  try {\n    const jsonObjMatch = aiGeneratedContent.match(/\\{[^{}]*\"prompts\"\\s*:\\s*\\[[\\s\\S]*?\\]\\s*\\}/); \n    if (jsonObjMatch) {\n      debugInfo.parseMethod = 'directJson';\n      const parsed = safeJsonParse(jsonObjMatch[0]);\n      if (parsed && parsed.prompts && Array.isArray(parsed.prompts)) {\n        for (let i = 0; i < parsed.prompts.length && i < 8; i++) {\n          const item = parsed.prompts[i];\n          const promptText = item.prompt || item.text || item.content || item.description || '';\n          if (promptText && promptText.length > 20 && !prompts[i]) {\n            prompts[i] = promptText;\n          }\n        }\n        debugInfo.parsedCount = prompts.filter(p => p).length;\n      }\n    }\n  } catch (e) {\n    debugInfo.parseError = 'directJson: ' + (e.message || '');\n  }\n}\n\n// ============ 方法3: 逐个提取prompt字段 ============\nif (prompts.filter(p => p).length < 4) {\n  try {\n    const promptFieldPattern = /\"prompt\"\\s*:\\s*\"([^\"]{30,})\"/g;\n    let match;\n    let idx = 0;\n    while ((match = promptFieldPattern.exec(aiGeneratedContent)) !== null && idx < 8) {\n      if (match[1] && match[1].length > 20 && !prompts[idx]) {\n        prompts[idx] = match[1];\n        idx++;\n      }\n    }\n    if (idx > 0) {\n      debugInfo.parseMethod = 'promptField';\n      debugInfo.parsedCount = prompts.filter(p => p).length;\n    }\n  } catch (e) {\n    debugInfo.parseError = 'promptField: ' + (e.message || '');\n  }\n}\n\n// ============ 方法4: 正则提取【主图N】格式 ============\nif (prompts.filter(p => p).length < 4) {\n  try {\n    const promptPattern = /【主图(\\d+)】[\\s\\S]*?提示词[：:.]\\s*([^【]+)/g;\n    let match;\n    while ((match = promptPattern.exec(aiGeneratedContent)) !== null) {\n      const index = parseInt(match[1]) - 1;\n      let prompt = match[2].trim();\n      prompt = prompt.replace(/```[\\s\\S]*?```/g, '').trim();\n      prompt = prompt.replace(/^[提示词prompt][：:\\s]+/i, '').trim();\n      prompt = prompt.split(/---|===|【主图/)[0].trim();\n      if (prompt && prompt.length > 20 && index >= 0 && index < 8 && !prompts[index]) {\n        prompts[index] = prompt;\n      }\n    }\n    if (prompts.filter(p => p).length >= 4) {\n      debugInfo.parseMethod = 'chinesePattern';\n      debugInfo.parsedCount = prompts.filter(p => p).length;\n    }\n  } catch (e) {\n    debugInfo.parseError = 'chinesePattern: ' + (e.message || '');\n  }\n}\n\n// ============ 方法5: 提取英文提示词部分 ============\nif (prompts.filter(p => p).length < 4) {\n  try {\n    const englishPromptPattern = /(?:prompt|English|Complete)[\\s：:]+\\s*['\"]?([A-Za-z][^\\u3010\\u3011]{50,}?)(?=['\"]?\\s*[,}\\n]|【|$)/gi;\n    let englishMatch;\n    let idx = 0;\n    while ((englishMatch = englishPromptPattern.exec(aiGeneratedContent)) !== null && idx < 8) {\n      const promptText = englishMatch[1].trim();\n      if (promptText.length > 30 && !prompts[idx]) {\n        prompts[idx] = promptText;\n        idx++;\n      }\n    }\n    if (idx > 0) {\n      debugInfo.parseMethod = 'englishPrompt';\n      debugInfo.parsedCount = prompts.filter(p => p).length;\n    }\n  } catch (e) {}\n}\n\n// ============ 方法6: 提取所有英文长句 ============\nif (prompts.filter(p => p).length < 4) {\n  try {\n    const allEnglish = aiGeneratedContent.match(/[A-Z][a-zA-Z\\s,.'\"\\-()]+(?:product|image|photo|scene|background|lighting|white|studio|professional)[^\\u3010\\u3011\\n]{40,}/gi);\n    if (allEnglish && allEnglish.length > 0) {\n      const uniquePrompts = [...new Set(allEnglish.map(p => p.trim()))];\n      for (let i = 0; i < Math.min(8, uniquePrompts.length); i++) {\n        if (!prompts[i] && uniquePrompts[i].length > 30) {\n          prompts[i] = uniquePrompts[i];\n        }\n      }\n      debugInfo.parseMethod = 'englishLongSentence';\n      debugInfo.parsedCount = prompts.filter(p => p).length;\n    }\n  } catch (e) {}\n}\n\n// ============ 处理解析结果 ============\nconst validPrompts = prompts.filter(p => p && p.length > 20);\nconst uniqueValidPrompts = [...new Set(validPrompts)];\n\n// 【修复】统一语言的降级提示词 - 增加产品参考要求\nconst fallbackPrompts = isChinesePrompt ? [\n  '【必须严格参考产品原图】纯白背景 RGB 255 255 255，产品外观必须与参考图完全一致，只展示单个产品，产品为绝对主角居中，占画面85%，无文字，商品写实摄影，无变形，无失真，准确比例，影棚灯光，8K高清',\n  '【必须严格参考产品原图】产品外观与参考图一致，生活场景中展示，自然光线，产品为主角居中，完整展示产品，商品写实摄影，无变形，准确比例，8K高清',\n  '【必须严格参考产品原图】产品细节与参考图一致，细节特写，近距离视角，产品为主角，焦点对准材质纹理，商品写实摄影，无变形，专业产品摄影',\n  '【必须严格参考产品原图】产品外观与参考图完全一致，卖点展示，产品居中为主角，专业影棚灯光，完整展示产品，无变形，商业质量，8K高清',\n  '【必须严格参考产品原图】产品与参考图一模一样，使用场景展示，产品为主角突出展示，自然场景，商品写实摄影，准确比例，无变形，专业摄影',\n  '【必须严格参考产品原图】产品外观颜色材质与参考图一致，品质展示，高端呈现，产品为绝对主角，专业光线，完整展示产品，无变形，8K高清',\n  '【必须严格参考产品原图】产品形状与参考图完全一致，多角度展示，3/4角度视角，产品为主角居中，完整展示产品，商品写实摄影，无变形，影棚质量',\n  '【必须严格参考产品原图】产品尺寸外观与参考图一致，尺寸参考，产品为主角带比例参照，完整展示产品，商品写实摄影，准确比例，无变形，专业商业'\n] : [\n  '[MUST MATCH REFERENCE IMAGES] pure white background RGB 255 255 255, product appearance MUST be EXACTLY identical to reference images, ONLY ONE SINGLE PRODUCT, product as absolute hero centered, 85% frame coverage, no text, photorealistic, no distortion, accurate proportions, studio lighting, high resolution 8K',\n  '[MUST MATCH REFERENCE IMAGES] product appearance identical to reference, lifestyle scene, natural lighting, product as hero centered, complete product display, photorealistic, no distortion, accurate proportions, high resolution',\n  '[MUST MATCH REFERENCE IMAGES] product details matching reference, detail shot, close-up view, product as hero, sharp focus on texture and material, photorealistic, no distortion, professional product photography',\n  '[MUST MATCH REFERENCE IMAGES] product EXACTLY like reference images, feature highlight, product centered as hero, professional studio lighting, complete product display, no distortion, commercial quality, 8K resolution',\n  '[MUST MATCH REFERENCE IMAGES] product identical to reference, in use demonstration, product as hero prominently displayed, natural setting, photorealistic, accurate proportions, no distortion, professional photography',\n  '[MUST MATCH REFERENCE IMAGES] product color and material matching reference, quality showcase, premium presentation, product as absolute hero, professional lighting, complete product visible, no distortion, high resolution',\n  '[MUST MATCH REFERENCE IMAGES] product shape EXACTLY like reference, multi-angle view, 3/4 angle perspective, product as hero centered, complete product display, photorealistic, no distortion, studio quality',\n  '[MUST MATCH REFERENCE IMAGES] product size and appearance matching reference, size reference, product as hero with scale comparison, complete product visible, photorealistic, accurate proportions, no distortion, professional commercial'\n];\n\nif (uniqueValidPrompts.length > 0) {\n  for (let i = 0; i < 8; i++) {\n    if (!prompts[i] || prompts[i].length < 20) {\n      prompts[i] = uniqueValidPrompts[i % uniqueValidPrompts.length];\n    }\n  }\n} else {\n  debugInfo.parseMethod = 'fallback';\n  for (let i = 0; i < 8; i++) {\n    prompts[i] = fallbackPrompts[i];\n  }\n}\n\n// ============ 构建批量请求 ============\nconst generationData = [];\n\n// 【关键修改】构建callbackUrl，将$execution.resumeUrl中的host:port替换为配置的地址\nlet rawResumeUrl = $execution.resumeUrl || `${N8N_BASE_URL}/webhook/image-callback/${requestId}`;\nconst callbackUrl = rawResumeUrl.replace(/^(https?:\\/\\/)[^\\/]+/, `$1${N8N_HOST}`);\n\nconst sharedImageUrls = imgUrls && imgUrls.length > 0 ? imgUrls : [];\n\n// 【修复】检测提示词语言的函数\nfunction isChineseText(text) {\n  return /[\\u4e00-\\u9fa5]/.test(text);\n}\n\n// 【新增】记录每个最终prompt的调试信息\nconst debugFinalPrompts = [];\n\ntry {\n  for (let i = 0; i < 8; i++) {\n    // 【关键】每次循环都从prompts数组获取对应索引的值\n    const originalPrompt = prompts[i];\n    let prompt = originalPrompt || (isChinesePrompt ? '产品图片，商品写实摄影，商业摄影' : 'product image, photorealistic, commercial photography');\n    \n    // 检测原始提示词语言\n    const promptIsChinese = isChineseText(prompt);\n    \n    // ============ 【关键增强】为每张图片添加产品参考要求 ============\n    if (hasProductImages) {\n      // 检查提示词是否已经包含参考要求\n      const hasReferenceKeyword = promptIsChinese \n        ? (prompt.includes('参考') || prompt.includes('原图') || prompt.includes('一致'))\n        : (prompt.toLowerCase().includes('reference') || prompt.toLowerCase().includes('match') || prompt.toLowerCase().includes('identical'));\n      \n      if (!hasReferenceKeyword) {\n        // 在提示词开头添加强制产品参考要求\n        prompt = PRODUCT_REFERENCE_REQUIREMENTS.prefix + prompt + PRODUCT_REFERENCE_REQUIREMENTS.suffix;\n      }\n    }\n    \n    // ============ 【关键】第一张图片强制使用亚马逊主图要求（只展示单个产品） ============\n    // 【优化】第一张白底主图不添加无关元数据，保持简洁专业\n    if (i === 0) {\n      // 提取产品描述部分（去掉原有的背景、文字等描述）\n      let productDescription = prompt;\n      \n      // 尝试提取产品主体描述\n      if (promptIsChinese) {\n        // 移除背景相关描述和多产品相关描述\n        productDescription = productDescription\n          .replace(/纯白[色]?背景[^，。]*/g, '')\n          .replace(/白[色]?背景[^，。]*/g, '')\n          .replace(/RGB[^，。]*/gi, '')\n          .replace(/无文字[^，。]*/g, '')\n          .replace(/禁止[^，。]*/g, '')\n          .replace(/多个产品[^，。]*/g, '')\n          .replace(/产品组合[^，。]*/g, '')\n          .replace(/参考权重[^，。]*/g, '')\n          .replace(/产品图数量[^，。]*/g, '')\n          .replace(/[，。]+/g, '，')\n          .replace(/^[，。]+|[，。]+$/g, '')\n          .trim();\n        \n        // 使用中文亚马逊主图要求重新构建，强制只展示单个产品\n        // 【关键】第一张白底主图只需要产品参考要求，不需要额外元数据\n        const referencePrefix = hasProductImages ? PRODUCT_REFERENCE_REQUIREMENTS.prefix : '';\n        const referenceSuffix = hasProductImages ? PRODUCT_REFERENCE_REQUIREMENTS.suffix : '';\n        prompt = referencePrefix + AMAZON_MAIN_IMAGE_REQUIREMENTS.prefix + productDescription + AMAZON_MAIN_IMAGE_REQUIREMENTS.suffix + referenceSuffix;\n      } else {\n        // 移除英文背景相关描述和多产品相关描述\n        productDescription = productDescription\n          .replace(/pure white background[^,.]*/gi, '')\n          .replace(/white background[^,.]*/gi, '')\n          .replace(/RGB[^,.]*/gi, '')\n          .replace(/no text[^,.]*/gi, '')\n          .replace(/multiple products?[^,.]*/gi, '')\n          .replace(/product combinations?[^,.]*/gi, '')\n          .replace(/reference weight[^,.]*/gi, '')\n          .replace(/product images count[^,.]*/gi, '')\n          .replace(/,\\s*,/g, ',')\n          .replace(/^[,\\s]+|[,\\s]+$/g, '')\n          .trim();\n        \n        // 使用英文亚马逊主图要求重新构建，强制只展示单个产品\n        // 【关键】第一张白底主图只需要产品参考要求，不需要额外元数据\n        const referencePrefix = hasProductImages ? PRODUCT_REFERENCE_REQUIREMENTS.prefix : '';\n        const referenceSuffix = hasProductImages ? PRODUCT_REFERENCE_REQUIREMENTS.suffix : '';\n        prompt = referencePrefix + AMAZON_MAIN_IMAGE_REQUIREMENTS.prefix + productDescription + AMAZON_MAIN_IMAGE_REQUIREMENTS.suffix + referenceSuffix;\n      }\n    }\n    \n    // 清理提示词 - 保留中文字符和Unicode字符\n    const cleanPrompt = prompt\n      .replace(/\"/g, \"'\")  // 双引号转单引号\n      .replace(/\\n/g, \" \") // 换行转空格\n      .replace(/\\r/g, \" \") // 回车转空格\n      .replace(/\\s+/g, \" \") // 多个空格合并\n      .replace(/[\\x00-\\x1F\\x7F]/g, '') // 只移除控制字符\n      .trim();\n    \n    // 【调试】记录每个prompt的信息\n    debugFinalPrompts.push({\n      index: i + 1,\n      isMainImage: i === 0,\n      hasProductReference: hasProductImages,\n      originalLength: originalPrompt ? originalPrompt.length : 0,\n      finalLength: cleanPrompt.length,\n      preview: cleanPrompt.substring(0, 150) + '...'\n    });\n    \n    const imageParams = {\n      unique_key: `image_${i + 1}_${requestId}`,\n      size: i === 0 ? \"1:1\" : \"2:3\",  // 第一张主图使用1:1比例\n      prompt: cleanPrompt,\n      image_urls: sharedImageUrls  // 传递产品图片作为参考\n    };\n    \n    generationData.push(imageParams);\n  }\n  \n  const batchRequest = {\n    workflow_type: \"image.batch.generate\",\n    inputs: {\n      model_id: modelId,\n      generation_data: generationData,\n      callback_url: callbackUrl,\n      source: \"material_center::ai_image\"\n    }\n  };\n  \n  // 【调试】检查generationData中的prompt是否都不同\n  const uniqueFinalPrompts = new Set(generationData.map(d => d.prompt));\n  debugInfo.finalUniqueCount = uniqueFinalPrompts.size;\n  \n  return [{\n    json: {\n      request_body: batchRequest,\n      request_id: requestId,\n      callback_url: callbackUrl,\n      image_count: 8,\n      product_image_urls: sharedImageUrls,\n      debug_info: debugInfo,\n      debug_parsed_prompts: prompts.map((p, i) => ({\n        index: i + 1,\n        length: p ? p.length : 0,\n        preview: p ? p.substring(0, 100) + '...' : 'empty'\n      })),\n      debug_final_prompts: debugFinalPrompts,\n      debug_unique_count: new Set(prompts.filter(p => p && p.length > 20)).size\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      request_body: {},\n      request_id: requestId,\n      callback_url: callbackUrl,\n      image_count: 0,\n      error: error.message || 'Unknown error',\n      debug_info: debugInfo\n    }\n  }];\n}"
      },
      "id": "94788124-511b-4289-a6bb-45ab4850c40a",
      "name": "提示词增强与请求构建",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2352, 192]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.giikin.com/third/material-composer/v1/workflow/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('获取Token').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.request_body }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "647ddb65-55a6-472f-86da-06f8c22bb76e",
      "name": "提交批量生图任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2576, 192],
      "retryOnFail": true,
      "maxTries": 3,
      "notes": "【需配置凭证】即梦API - Header: Authorization, Value: Bearer YOUR_JIMENG_API_KEY"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "be1e4b1e-8840-4ec5-8576-f0caf9f0b2f7",
      "name": "合并结果",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3248, 288]
    },
    {
      "parameters": {
        "jsCode": "// 结果整合 - 优化版（含质量检查和request_id）\n// 【修复】确保始终返回正确的数组格式，避免 \"Cannot return primitive values\" 错误\n// 【新增】保存产品图和竞品图的完整URL列表，供viewer.html显示\n// 【修改】从 merge节点输入中获取生图结果（从callback解析来的）\n// 【新增】支持title参数（来自1688）\n// 【修复】has_image_prompts检测逻辑，统一使用JSON格式\n// 【修复】兼容openapi.giikin.com API响应格式: {code:0, data:\"内容\", message:\"ok\"}\n\n// ============ 辅助函数 ============\nfunction safeJsonParse(content) {\n  if (!content || typeof content !== 'string') return null;\n  try {\n    return JSON.parse(content);\n  } catch(e) {\n    try {\n      const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/);\n      if (jsonMatch && jsonMatch[1]) return JSON.parse(jsonMatch[1].trim());\n      const directMatch = content.match(/\\{[\\s\\S]*\\}/);\n      if (directMatch && directMatch[0]) return JSON.parse(directMatch[0]);\n    } catch(e2) {\n      // 解析失败，返回null\n    }\n  }\n  return null;\n}\n\nfunction safeGetNodeData(nodeName) {\n  try {\n    const nodeData = $(nodeName);\n    if (nodeData && typeof nodeData.first === 'function') {\n      const first = nodeData.first();\n      if (first && first.json) {\n        return first.json;\n      }\n    }\n  } catch(e) {\n    // 节点数据获取失败\n  }\n  return {};\n}\n\n// 【修复】兼容openapi.giikin.com API格式: {code:0, data:\"内容\", message:\"ok\"}\nfunction extractApiContent(nodeName) {\n  try {\n    const result = safeGetNodeData(nodeName);\n    \n    // 【最优先】openapi.giikin.com 格式: data直接是字符串内容\n    if (result.data !== undefined) {\n      if (typeof result.data === 'string') {\n        return result.data;\n      }\n      // data是对象的情况\n      if (result.data && typeof result.data === 'object') {\n        if (result.data.content) return result.data.content;\n        if (result.data.message && typeof result.data.message === 'string') return result.data.message;\n        if (result.data.text) return result.data.text;\n      }\n    }\n    \n    // 方式2：标准OpenAI格式 choices[0].message.content\n    if (result.choices && Array.isArray(result.choices) && result.choices[0]) {\n      if (result.choices[0].message && result.choices[0].message.content) {\n        return result.choices[0].message.content;\n      }\n      if (result.choices[0].content) {\n        return result.choices[0].content;\n      }\n    }\n    \n    // 方式3：直接content/result/message字段\n    if (result.content) return typeof result.content === 'string' ? result.content : JSON.stringify(result.content);\n    if (result.result && typeof result.result === 'string') return result.result;\n    if (result.message && typeof result.message === 'string' && result.message !== 'ok') return result.message;\n    if (result.output) {\n      if (typeof result.output === 'string') return result.output;\n      if (result.output.content) return result.output.content;\n      if (result.output.text) return result.output.text;\n    }\n    if (result.text) return result.text;\n    if (result.response) {\n      if (typeof result.response === 'string') return result.response;\n      if (result.response.content) return result.response.content;\n    }\n    \n  } catch(e) {\n    // 提取失败\n  }\n  return '';\n}\n\n// ============ 主逻辑 ============\ntry {\n  // 获取输入参数（从merge节点来，merge节点combineAll模式会输出数组）\n  const allInputs = $input.all();\n  \n  // 从merge节点的第一个输入中获取生图结果（从callback解析来的）\n  let generatedImages = [];\n  if (allInputs && allInputs.length > 0) {\n    const imageResult = allInputs[0]?.json;\n    if (imageResult && imageResult.generated_images) {\n      generatedImages = imageResult.generated_images.map((img) => ({\n        url: img.image_url || img.url || ''\n      }));\n    }\n  }\n  \n  // 获取输入参数\n  const inputData = safeGetNodeData('设置输入变量');\n  \n  // 获取request_id\n  const requestId = inputData.request_id || (typeof $execution !== 'undefined' ? $execution.id : 'unknown');\n  \n  // 获取产品标题（来自1688）\n  const productTitle = inputData.title || '';\n  \n  // 获取图片识别结果\n  const imageAnalysisRaw = extractApiContent('图片识别与提示词反推');\n  \n  // 获取竞品分析结果\n  const competitorInfoRaw = extractApiContent('竞品信息解析');\n  \n  // 获取Listing文案\n  const listingRaw = extractApiContent('Listing文案生成');\n  let listingData = safeJsonParse(listingRaw) || {};\n  \n  // 【调试】记录提取到的原始内容长度\n  const debugExtraction = {\n    imageAnalysisLength: imageAnalysisRaw.length,\n    competitorInfoLength: competitorInfoRaw.length,\n    listingRawLength: listingRaw.length,\n    listingRawPreview: listingRaw.substring(0, 500)\n  };\n  \n  // 如果解析失败，尝试正则提取\n  if (!listingData.title && listingRaw) {\n    try {\n      const titleMatch = listingRaw.match(/\\\"title\\\"\\s*:\\s*\\\"([^\\\"]+)\\\"/);\n      const descMatch = listingRaw.match(/\\\"description\\\"\\s*:\\s*\\\"([^\\\"]+)\\\"/);\n      const searchMatch = listingRaw.match(/\\\"search_keywords\\\"\\s*:\\s*\\\"([^\\\"]+)\\\"/);\n      const backendMatch = listingRaw.match(/\\\"backend_keywords\\\"\\s*:\\s*\\\"([^\\\"]+)\\\"/);\n      \n      if (titleMatch && titleMatch[1]) listingData.title = titleMatch[1];\n      if (descMatch && descMatch[1]) listingData.description = descMatch[1];\n      if (searchMatch && searchMatch[1]) listingData.search_keywords = searchMatch[1];\n      if (backendMatch && backendMatch[1]) listingData.backend_keywords = backendMatch[1];\n      \n      const bulletMatch = listingRaw.match(/\\\"bullet_points\\\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n      if (bulletMatch && bulletMatch[1]) {\n        const bullets = bulletMatch[1].match(/\\\"([^\\\"]+)\\\"/g);\n        if (bullets && Array.isArray(bullets)) {\n          listingData.bullet_points = bullets.map(b => b.replace(/\\\"/g, ''));\n        }\n      }\n    } catch(e) {\n      // 正则提取失败\n    }\n  }\n  \n  // 获取做图提示词\n  const imagePrompts = extractApiContent('做图提示词生成');\n  \n  // 获取A+内容\n  const aplusContent = extractApiContent('A+提示词生成');\n  \n  // 质量检查\n  const titleStr = listingData.title || '';\n  const bulletPoints = listingData.bullet_points || [];\n  const descriptionStr = listingData.description || '';\n  \n  // 【修复】has_image_prompts检测逻辑\n  const hasImagePrompts = (imagePrompts.includes('\"prompts\"') && imagePrompts.includes('\"prompt\"')) || \n                          (imagePrompts.includes('\"image_number\"') && imagePrompts.includes('\"prompt\"')) ||\n                          (imagePrompts.length > 500);\n  \n  // has_aplus_prompts检测\n  const hasAplusPrompts = aplusContent.includes('【模块') || aplusContent.includes('Module') || aplusContent.length > 200;\n  \n  const qualityChecks = {\n    has_title: titleStr.length > 10,\n    title_length_ok: titleStr.length > 0 && titleStr.length <= 200,\n    has_bullets: Array.isArray(bulletPoints) && bulletPoints.length >= 5,\n    has_description: descriptionStr.length > 50,\n    has_image_prompts: hasImagePrompts,\n    has_aplus_prompts: hasAplusPrompts,\n    has_generated_images: generatedImages.length > 0\n  };\n  \n  const passedChecks = Object.values(qualityChecks).filter(v => v === true).length;\n  const totalChecks = Object.keys(qualityChecks).length;\n  const qualityScore = totalChecks > 0 ? Math.round(passedChecks / totalChecks * 100) : 0;\n  \n  // 安全获取图片URL列表\n  const productImgList = inputData.product_img_url_list || [];\n  const competitorImgList = inputData.competitor_img_url_list || [];\n  \n  let productImgUrlList = [];\n  if (Array.isArray(productImgList)) {\n    productImgUrlList = productImgList.filter(url => url && typeof url === 'string' && url.trim().length > 0);\n  } else if (typeof productImgList === 'string') {\n    productImgUrlList = productImgList.split(/[,，\\n]+/).map(u => u.trim()).filter(u => u);\n  }\n  \n  let competitorImgUrlList = [];\n  if (Array.isArray(competitorImgList)) {\n    competitorImgUrlList = competitorImgList.filter(url => url && typeof url === 'string' && url.trim().length > 0);\n  } else if (typeof competitorImgList === 'string') {\n    competitorImgUrlList = competitorImgList.split(/[,，\\n]+/).map(u => u.trim()).filter(u => u);\n  }\n  \n  const productImageCount = productImgUrlList.length;\n  const competitorImageCount = competitorImgUrlList.length;\n  \n  // 构建结果\n  const result = {\n    request_id: requestId,\n    meta: {\n      generated_at: new Date().toISOString(),\n      quality_score: qualityScore,\n      quality_checks: qualityChecks,\n      workflow_version: \"v5-batch-async\",\n      debug_extraction: debugExtraction\n    },\n    input: {\n      country: inputData.country || 'jp',\n      keywords: inputData.keywords || '',\n      title: productTitle,\n      asin_link: inputData.asin_link || '',\n      product_specs: inputData.product_specs || '',\n      prompt_lang: inputData.prompt_lang || 'en',\n      product_image_count: productImageCount,\n      competitor_image_count: competitorImageCount,\n      product_img_url_list: productImgUrlList,\n      competitor_img_url_list: competitorImgUrlList\n    },\n    listing: {\n      title: titleStr,\n      title_length: titleStr.length,\n      bullet_points: bulletPoints,\n      description: descriptionStr,\n      description_length: descriptionStr.length,\n      search_keywords: listingData.search_keywords || '',\n      backend_keywords: listingData.backend_keywords || ''\n    },\n    image_prompts: imagePrompts,\n    aplus_prompts: aplusContent,\n    generated_images: generatedImages,\n    _raw: {\n      image_analysis: imageAnalysisRaw.substring(0, 5000),\n      competitor_info: competitorInfoRaw.substring(0, 5000),\n      listing_raw: listingRaw.substring(0, 5000)\n    }\n  };\n  \n  return [{ \n    json: { \n      result_json: result, \n      callback_url: inputData.callback_url || '',\n      success: qualityScore > 90,\n      request_id: requestId\n    } \n  }];\n  \n} catch (error) {\n  return [{ \n    json: { \n      result_json: {\n        request_id: 'error',\n        error: error.message || 'Unknown error',\n        meta: {\n          generated_at: new Date().toISOString(),\n          quality_score: 0,\n          workflow_version: \"v5-batch-async\"\n        }\n      }, \n      callback_url: '',\n      success: false,\n      request_id: 'error'\n    } \n  }];\n}"
      },
      "id": "8af7e273-e566-47dd-9ec0-0261d413e80b",
      "name": "结果整合",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3472, 288]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amazon-listing",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a20ab981-1953-4493-9b68-bc7a3f036ef4",
      "name": "Webhook触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "3352bb79-7a64-4f78-b257-0f1713b2561e",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "亚马逊文案生成",
        "formDescription": "请填写以下信息生成亚马逊Listing文案和图片提示词",
        "formFields": {
          "values": [
            {
              "fieldLabel": "目标国家",
              "placeholder": "jp/us/de/uk/fr/es/it/cn",
              "requiredField": true
            },
            {
              "fieldLabel": "产品标题(1688)",
              "placeholder": "例如：新款户外多功能露营火炉 便携式折叠柴火炉 户外野烊烧烤炉"
            },
            {
              "fieldLabel": "核心关键词",
              "placeholder": "例如：户外 露营 火炉",
              "requiredField": true
            },
            {
              "fieldLabel": "参考ASIN链接",
              "placeholder": "https://www.amazon.co.jp/gp/product/...",
              "requiredField": true
            },
            {
              "fieldLabel": "产品图片URL",
              "fieldType": "textarea",
              "placeholder": "产品图片URL，多个用逗号分隔（用于生图参考）"
            },
            {
              "fieldLabel": "竞品图片URL",
              "fieldType": "textarea",
              "placeholder": "竞品图片URL，多个用逗号分隔（用于分析场景/风格/构图等优点）"
            },
            {
              "fieldLabel": "产品规格参数",
              "fieldType": "textarea",
              "placeholder": "尺寸、重量、颜色等"
            },
            {
              "fieldLabel": "提示词语言",
              "placeholder": "cn=中文, en=英文"
            }
          ]
        },
        "options": {}
      },
      "id": "f96e400c-61c2-4f76-81ed-108b1a45d3fc",
      "name": "表单触发器",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 384],
      "webhookId": "3b0dac4b-7402-4020-9628-f97101719103",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 构建图片识别请求体 - 分别处理产品图和竞品图\n// 【修复】添加错误处理确保始终返回正确格式\n// 【新增】支持title参数（来自1688）\n// 【优化】移除不再使用的model字段，实际模型由HTTP Request节点中的model_engine参数指定\n// 【修复】使用$('设置输入变量')获取原始数据，因为直接输入来自获取Token节点\n\ntry {\n  // 【修复】从\"设置输入变量\"节点获取原始数据，而不是从直接输入\n  const inputItem = $('设置输入变量').first().json;\n  \n  // 获取产品标题（来自1688）\n  const productTitle = inputItem.title || '';\n  \n  // 获取产品图片（用于识别产品信息）\n  const productImgUrls = inputItem.product_img_url_list || [];\n  // 获取竞品图片（用于分析场景、风格、构图等优点）\n  const competitorImgUrls = inputItem.competitor_img_url_list || [];\n  \n  // 构建产品图片消息内容\n  const productImageContent = productImgUrls.map(url => ({\n    \"type\": \"image_url\",\n    \"image_url\": { \"url\": url }\n  }));\n  \n  // 构建竞品图片消息内容\n  const competitorImageContent = competitorImgUrls.map(url => ({\n    \"type\": \"image_url\",\n    \"image_url\": { \"url\": url }\n  }));\n  \n  // 如果没有任何图片，返回提示信息\n  if (productImgUrls.length === 0 && competitorImgUrls.length === 0) {\n    return [{ \n      json: { \n        skip_image_recognition: true,\n        message: \"没有提供任何图片URL，跳过图片识别\",\n        title: productTitle,\n        keywords: inputItem.keywords || '', \n        product_specs: inputItem.product_specs || '', \n        product_img_url_list: productImgUrls,\n        competitor_img_url_list: competitorImgUrls,\n        asin_link: inputItem.asin_link || ''\n      } \n    }];\n  }\n  \n  // 构建产品标题提示信息\n  const titleInfo = productTitle ? `\n\n★★★ 产品标题（来自1688） ★★★\n${productTitle}\n\n请在分析时结合此标题信息，这是产品在中国1688平台上的标题，可以帮助你理解产品的主要特征、功能和卖点。` : '';\n  \n  // 构建消息内容数组\n  const messageContent = [{\n    \"type\": \"text\",\n    \"text\": `请分析以下图片，分为两部分：${titleInfo}\n\n========================================\n## 第一部分：产品图片分析（共${productImgUrls.length}张）\n========================================\n\n请仔细分析产品图片，提取产品信息：\n\n**【产品基本信息】**\n- 产品类型/品类\n- 产品名称\n- 主要颜色和配色方案\n- 材质判断\n- 预估尺寸大小\n\n**【产品外观细节】**\n- 产品形状和轮廓\n- 表面工艺\n- 设计风格\n- 重要部件和配件\n\n**【产品功能与卖点】**\n- 从图片推测的主要功能\n- 可见的产品卖点和特色\n- 使用场景推测\n\n**【AI生图提示词】**\n为每张产品图片生成可用于重新生成类似商品图的提示词：\n- 中文提示词\n- 英文提示词\n\n========================================\n## 第二部分：竞品图片优点分析（共${competitorImgUrls.length}张）\n========================================\n\n请深度分析竞品图片的视觉优点，供生图参考：\n\n**【场景与环境分析】**\n对每张竞品图片分析：\n- 背景场景类型（室内/室外、具体场景如厨房、办公室、户外等）\n- 环境氛围（温馨、现代、科技感、自然、专业等）\n- 光线条件（自然光、逆光、柔光、霓虹灯光、工作室灯光等）\n- 时间设定（白天、夜晚、黄昏、清晨等）\n- 色调倾向（暖色调、冷色调、中性等）\n\n**【艺术风格与技术参数】**\n对每张竞品图片判断：\n- 艺术风格（写实摄影、商业广告风、极简风、赛博朋克、北欧风等）\n- 创作媒介（专业摄影、3D渲染、插画、合成图等）\n- 质感描述（高级感、专业感、生活化、艺术化等）\n- 推测的技术参数（如8k、hyper-detailed、photorealistic等品质描述词）\n\n**【构图与视角分析】**\n对每张竞品图片分析：\n- 构图方式（居中构图、三分法、对角线构图、对称构图、留白构图等）\n- 拍摄视角（平视、仰视、仰视、45度角、特写、全景等）\n- 产品与背景的比例关系\n- 视觉焦点和引导线\n\n**【特效与情感分析】**\n- 特殊效果（模糊虚化、光晕、颗粒感、景深效果等）\n- 情感基调（专业可信、温馨治愈、活力动感、高端奢华等）\n- 视觉冲击力评价\n\n**【竞品图片优点总结】**\n请总结竞品图片中值得借鉴的优点，输出为可直接用于生图的提示词片段（英文）：\n- 场景环境提示词\n- 光线氛围提示词\n- 构图视角提示词\n- 风格质感提示词`\n  }];\n  \n  // 先添加产品图片\n  if (productImgUrls.length > 0) {\n    messageContent.push({\n      \"type\": \"text\",\n      \"text\": \"\\n\\n=== 以下是产品图片 ===\"\n    });\n    messageContent.push(...productImageContent);\n  }\n  \n  // 再添加竞品图片\n  if (competitorImgUrls.length > 0) {\n    messageContent.push({\n      \"type\": \"text\",\n      \"text\": \"\\n\\n=== 以下是竞品图片 ===\"\n    });\n    messageContent.push(...competitorImageContent);\n  }\n  \n  // 【优化】只构建messages，model由HTTP Request节点中的model_engine参数指定\n  const requestBody = {\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"你是一名专业的电商产品图像分析专家和视觉设计顾问。你擅长：1. 从产品图片中提取详细的产品信息；2. 深度分析竞品图片的视觉优点（场景、构图、风格、光线等），为AI生图提供专业的参考建议。\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": messageContent\n      }\n    ],\n    \"max_tokens\": 4000,\n    \"temperature\": 0.7\n  };\n  \n  return [{ json: { \n    request_body: requestBody, \n    title: productTitle,\n    keywords: inputItem.keywords || '', \n    product_specs: inputItem.product_specs || '', \n    product_img_url_list: productImgUrls,\n    competitor_img_url_list: competitorImgUrls,\n    asin_link: inputItem.asin_link || ''\n  } }];\n  \n} catch (error) {\n  // 错误处理：返回默认结构\n  return [{ json: { \n    skip_image_recognition: true,\n    message: \"图片请求构建失败: \" + (error.message || 'Unknown error'),\n    title: '',\n    keywords: '', \n    product_specs: '', \n    product_img_url_list: [],\n    competitor_img_url_list: [],\n    asin_link: ''\n  } }];\n}"
      },
      "id": "644eaf8c-1763-4bf5-97b3-22554967d11c",
      "name": "构建图片请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 192]
    },
    {
      "parameters": {
        "jsCode": "// 安全构建竞品解析请求体\n// 【优化】移除不再使用的model字段，只保留messages构建逻辑\n// 实际模型由HTTP Request节点中的model_engine参数指定\n\ntry {\n  const inputItem = $input.first().json;\n  \n  // 获取网页内容\n  let htmlContent = inputItem.body || inputItem.data || '';\n  \n  if (typeof htmlContent === 'object') {\n    htmlContent = JSON.stringify(htmlContent);\n  }\n  \n  // 清理HTML内容\n  htmlContent = String(htmlContent)\n    .replace(/[\\x00-\\x1f\\x7f]/g, ' ')\n    .replace(/\\\\n/g, ' ')\n    .replace(/\\\\r/g, ' ')\n    .replace(/\\\\t/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  const truncatedContent = htmlContent.substring(0, 15000);\n  \n  // 只构建messages，model由HTTP Request节点指定\n  const requestBody = {\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"你是一名专业的电商竞品分析师，擅长从竞品页面提取有价值的商业情报，特别是用户评价的深度分析。\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": `请从以下竞品页面内容中提取关键信息，以JSON格式输出。\n\n【重点提取】\n1. 基本信息：标题、价格、评分、品牌\n2. 产品规格：尺寸、重量、颜色、材质\n3. 卖点分析：从标题和描述中提取核心卖点\n4. 评价深度分析（最重要）：\n   - positive_reviews: 用户称赞的具体点（如\"耐用、易用、尺寸合适\"）\n   - negative_reviews: 用户抱怨的具体点（如\"包装简陋、使用复杂\"）\n   - improvement_opportunities: 可改进的机会点\n\n输出格式：\n{\n  \"title\": \"\",\n  \"price\": \"\",\n  \"rating\": \"\",\n  \"brand\": \"\",\n  \"dimensions\": \"\",\n  \"weight\": \"\",\n  \"color\": \"\",\n  \"material\": \"\",\n  \"core_selling_points\": [\"\"],\n  \"positive_reviews\": {\n    \"summary\": \"用户满意点概述\",\n    \"details\": [\"具体评价点1\", \"具体评价点2\"]\n  },\n  \"negative_reviews\": {\n    \"summary\": \"用户不满点概述\",\n    \"details\": [\"具体问题1\", \"具体问题2\"]\n  },\n  \"improvement_opportunities\": [\"改进机会1\", \"改进机会2\"]\n}\n\n竞品页面内容：\n${truncatedContent}`\n      }\n    ]\n  };\n  \n  return [{ json: { request_body: requestBody, original_content_length: htmlContent.length } }];\n  \n} catch (error) {\n  // 错误处理：返回默认结构\n  return [{ json: { \n    request_body: {\n      \"messages\": [\n        { \"role\": \"system\", \"content\": \"你是一名专业的电商竞品分析师，擅长从竞品页面提取有价值的商业情报。\" },\n        { \"role\": \"user\", \"content\": \"请生成竞品分析模板\" }\n      ]\n    }, \n    original_content_length: 0,\n    error: error.message || 'Unknown error'\n  } }];\n}"
      },
      "id": "9f279182-bb4a-4c59-8c34-776024711ea3",
      "name": "构建竞品解析请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [784, 384]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amazon-listing-async",
        "options": {
          "responseData": "{\"status\":\"accepted\",\"message\":\"任务已接受，正在处理中\"}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "97de9f44-39ed-482f-a39b-96af0a6764cf",
      "name": "异步Webhook触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 576],
      "webhookId": "1b28a0be-299b-4d8e-b6c1-1704ad0dade1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('结果整合').item.json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $('结果整合').item.json.request_id, success: $('结果整合').item.json.success, result: $('结果整合').item.json.result_json, completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "0c599ae0-4c55-49e4-a6ba-75391f5bcda5",
      "name": "回调通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3808, 288],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 构建Listing请求 - 完整竞品打击策略版\n// 【新增】支持title参数（来自1688）\n// 【优化】移除不再使用的model字段，实际模型由HTTP Request节点中的model_engine参数指定\n// 【修复】兼容openapi.giikin.com API响应格式: {code:0, data:\"内容\", message:\"ok\"}\n\nfunction safeGetNodeData(nodeName) {\n  try {\n    const nodeData = $(nodeName);\n    if (nodeData && typeof nodeData.first === 'function') {\n      const first = nodeData.first();\n      if (first && first.json) return first.json;\n    }\n  } catch(e) {}\n  return {};\n}\n\n// 【修复】兼容openapi.giikin.com API格式\nfunction extractApiContent(nodeName) {\n  try {\n    const result = safeGetNodeData(nodeName);\n    \n    // 【最优先】openapi.giikin.com 格式: data直接是字符串内容\n    if (result.data !== undefined) {\n      if (typeof result.data === 'string') return result.data;\n      if (result.data && typeof result.data === 'object') {\n        if (result.data.content) return result.data.content;\n        if (result.data.message && typeof result.data.message === 'string') return result.data.message;\n      }\n    }\n    \n    // 标准OpenAI格式\n    if (result.choices && Array.isArray(result.choices) && result.choices[0]) {\n      if (result.choices[0].message && result.choices[0].message.content) {\n        return result.choices[0].message.content;\n      }\n    }\n    \n    // 其他格式\n    if (result.content) return typeof result.content === 'string' ? result.content : JSON.stringify(result.content);\n    if (result.result && typeof result.result === 'string') return result.result;\n    if (result.text) return result.text;\n    \n  } catch(e) {}\n  return '';\n}\n\ntry {\n  const inputVars = safeGetNodeData('设置输入变量');\n  const country = inputVars.country || 'jp';\n  const keywords = inputVars.keywords || '';\n  const productSpecs = inputVars.product_specs || '';\n  const productTitle = inputVars.title || '';\n  \n  const imageAnalysis = extractApiContent('图片识别与提示词反推') || '无';\n  const competitorInfo = extractApiContent('竞品信息解析') || '无';\n  \n  // 提取竞品差评和改进机会\n  let negativeReviews = '';\n  let improvementOpportunities = '';\n  try {\n    const jsonMatch = competitorInfo.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      if (parsed.negative_reviews) {\n        negativeReviews = typeof parsed.negative_reviews === 'object' \n          ? JSON.stringify(parsed.negative_reviews, null, 2) : String(parsed.negative_reviews);\n      }\n      if (parsed.improvement_opportunities) {\n        improvementOpportunities = Array.isArray(parsed.improvement_opportunities)\n          ? parsed.improvement_opportunities.join('\\n- ')\n          : String(parsed.improvement_opportunities);\n      }\n    }\n  } catch(e) {}\n  \n  // 构建1688标题提示信息\n  const titleInfo = productTitle ? `\\n\\n★★★ 产品标题（来自1688） ★★★\\n${productTitle}\\n请参考此标题理解产品的主要卖点和特征，并在Listing文案中自然融入相关卖点。` : '';\n  \n  const systemPrompt = `你是资深亚马逊跨境电商运营专家。请以JSON格式输出。\n\n语言要求：jp=日语, us/uk=英语, de=德语, fr=法语, es=西班牙语, it=意大利语, cn=中文\n\n【核心策略】\n1. 根据竞品的用户负面评价，在文案中突出我方产品如何解决这些问题\n2. 不直接攻击竞品，而是通过强调自身优势来对比\n3. 将竞品的缺点转化为我们的卖点\n4. 标题必须自然融入用户的核心关键词「${keywords}」\n5. 如果提供了1688产品标题，请参考其中的卖点和特征\n6. 产品参数（尺寸/重量/颜色等）优先使用用户提供的实际规格，空缺时才参考竞品数据\n7. 尺寸单位采用目标站点习惯：jp用cm/mm/g/kg\n\n禁止事项：\n- 不使用任何竞品品牌名称\n- 不重复堆叠关键词\n- 不使用侥权词语和绝对化表述（最/第一/唯一）\n- 不使用AI常见套话`;\n  \n  const userPrompt = `请为亚马逊「${country.toUpperCase()}」站撰写Listing文案。\n\n═══ 输入信息 ═══\n【目标国家】${country}\n【核心关键词】${keywords}\n【产品规格】${productSpecs || '未提供，请参考竞品数据'}${titleInfo}\n\n═══ 产品图片分析 ═══\n${imageAnalysis}\n\n═══ 竞品参考（仅提取数据，禁用品牌名） ═══\n${competitorInfo}\n\n═══ ⭐ 竞品用户抱怨点（重点关注） ═══\n${negativeReviews || '未提取到具体缺点'}\n\n═══ ⭐ 改进机会（重点关注） ═══\n${improvementOpportunities || '未提取到具体改进点'}\n\n════════════════════════════════════════\n███ 竞品缺点针对策略 ███\n════════════════════════════════════════\n\n请根据上述竞品用户抱怨点，在Listing中巧妙融入以下策略：\n\n【1. 标题策略】\n- 如果竞品被抱怨\"质量差\" → 标题突出\"高品质/耐用\"\n- 如果竞品被抱怨\"做工粗糙\" → 标题突出\"精工细作/优质工艺\"\n- 如果竞品被抱怨\"功能少\" → 标题突出\"多功能/X合一\"\n\n【2. 卖点策略】每个卖点针对一个竞品缺点：\n- 竞品\"操作复杂\" → 强调\"简单易用/一键操作/即开即用\"\n- 竞品\"包装简陋\" → 强调\"精美包装/送礼佳选/礼盒装\"\n- 竞品\"尺寸不合适\" → 强调\"人体工学设计/多尺寸可选/完美贴合\"\n- 竞品\"材质差\" → 强调\"优质XX材质/环保材料/高级质感\"\n- 竞品\"不耐用\" → 强调\"经久耐用/质保X年/坚固可靠\"\n- 竞品\"功能少\" → 强调\"多功能/X合一/一机多用\"\n- 竞品\"噪音大\" → 强调\"静音设计/低噪运行\"\n- 竞品\"不稳定\" → 强调\"稳定可靠/防滑设计\"\n\n【3. 描述策略】\n- 用户场景中暗示解决竞品痛点\n- 不直接提及竞品问题，而是通过正面描述体现优势\n\n【4. 关键词策略】\n- 包含竞品缺失的特性词（如 耐用、易用、静音、稳定 等）\n- 包含解决痛点的关键词\n\n════════════════════════════════════════\n【输出JSON格式（所有内容用${country.toUpperCase()}站语言）】\n════════════════════════════════════════\n\n\\`\\`\\`json\n{\n  \"title\": \"标题(200字符内，包含核心关键词'${keywords}'，融入针对竞品缺点的卖点词)\",\n  \"bullet_points\": [\n    \"卖点1: 【针对竞品缺点A】我们的解决方案+用户价值\",\n    \"卖点2: 【针对竞品缺点B】材质/工艺+质量保障\",\n    \"卖点3: 【针对竞品缺点C】使用场景+适用人群\",\n    \"卖点4: 规格参数（具体尺寸cm/重量g）+材质特点\",\n    \"卖点5: 售后保障+质保承诺\"\n  ],\n  \"description\": \"产品描述(500字符内，通过用户场景暗示解决竞品痛点)\",\n  \"search_keywords\": \"搜索关键词(包含竞品缺失特性词，逗号分隔)\",\n  \"backend_keywords\": \"后台关键词(250字符内，包含竞品缺失特性词)\",\n  \"competitor_attack_notes\": {\n    \"targeted_weaknesses\": [\"针对的竞品缺点1\", \"针对的竞品缺点2\"],\n    \"our_solutions\": [\"我们的解决方案1\", \"我们的解决方案2\"]\n  }\n}\n\\`\\`\\``;\n  \n  const requestBody = {\n    messages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userPrompt }\n    ],\n    max_tokens: 4000,\n    temperature: 0.7\n  };\n  \n  return [{ json: { request_body: requestBody } }];\n  \n} catch (error) {\n  return [{ json: { request_body: { messages: [{ role: \"user\", content: \"请生成Listing文案\" }], max_tokens: 4000 }, error: error.message } }];\n}"
      },
      "id": "ecd629f3-c706-4827-885d-7e15454a351a",
      "name": "构建Listing请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1456, 288]
    },
    {
      "parameters": {
        "jsCode": "// 构建做图提示词请求 - JSON格式输出版\n// prompt_lang: 提示词语言（cn=中文提示词/en=英文提示词）\n// country: 站点语言（决定图片中广告文字和Listing用什么语言）\n// 【绝对红线】无变形、无失真，所有场景设计都要符合产品\n// 【增强】要求每个提示词必须明确包含产品图参考要求\n// 【新增】竞品隐性打击策略 - 场景设计中体现针对竞品缺点的优势\n// 【修改】要求AI以JSON格式返回提示词，便于解析\n// 【优化】移除不再使用的model字段\n// 【新增】语言红线 - 禁止图片中出现非站点语言\n// 【修复】兼容openapi.giikin.com API响应格式: {code:0, data:\"内容\", message:\"ok\"}\n\nfunction safeGetNodeData(nodeName) {\n  try {\n    const nodeData = $(nodeName);\n    if (nodeData && typeof nodeData.first === 'function') {\n      const first = nodeData.first();\n      if (first && first.json) return first.json;\n    }\n  } catch(e) {}\n  return {};\n}\n\n// 【修复】兼容openapi.giikin.com API格式\nfunction extractApiContent(nodeName) {\n  try {\n    const result = safeGetNodeData(nodeName);\n    \n    // 【最优先】openapi.giikin.com 格式: data直接是字符串内容\n    if (result.data !== undefined) {\n      if (typeof result.data === 'string') return result.data;\n      if (result.data && typeof result.data === 'object') {\n        if (result.data.content) return result.data.content;\n        if (result.data.message && typeof result.data.message === 'string') return result.data.message;\n      }\n    }\n    \n    // 标准OpenAI格式\n    if (result.choices && Array.isArray(result.choices) && result.choices[0]) {\n      if (result.choices[0].message && result.choices[0].message.content) {\n        return result.choices[0].message.content;\n      }\n    }\n    \n    // 其他格式\n    if (result.content) return typeof result.content === 'string' ? result.content : JSON.stringify(result.content);\n    if (result.result && typeof result.result === 'string') return result.result;\n    if (result.text) return result.text;\n    \n  } catch(e) {}\n  return '';\n}\n\nfunction extractCompetitorAttackData(competitorInfo) {\n  const result = { negatives: [], improvements: [], attackNotes: '' };\n  try {\n    const jsonMatch = competitorInfo.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      if (parsed.negative_reviews) {\n        const neg = parsed.negative_reviews;\n        result.negatives = typeof neg === 'object' && neg.details ? neg.details : (Array.isArray(neg) ? neg : []);\n      }\n      if (parsed.improvement_opportunities) {\n        result.improvements = Array.isArray(parsed.improvement_opportunities) \n          ? parsed.improvement_opportunities : [parsed.improvement_opportunities];\n      }\n    }\n  } catch(e) {}\n  \n  if (result.negatives.length > 0 || result.improvements.length > 0) {\n    let attackList = [];\n    const allNeg = result.negatives.join(' ') + ' ' + result.improvements.join(' ');\n    const strategies = {\n      '质量差': { scene: '耐用性测试场景', ad: '高品质' },\n      '做工粗糙': { scene: '细节特写', ad: '精工细作' },\n      '材质差': { scene: '材质展示', ad: '优质材质' },\n      '不耐用': { scene: '长期使用展示', ad: '经久耐用' },\n      '操作复杂': { scene: '简易操作展示', ad: '一键操作' },\n      '包装简陋': { scene: '精美包装展示', ad: '送礼佳选' },\n      '尺寸不合适': { scene: '人体工学展示', ad: '完美贴合' },\n      '噪音大': { scene: '静音环境展示', ad: '静音设计' },\n      '不稳定': { scene: '稳定性展示', ad: '稳固可靠' },\n      '功能少': { scene: '多功能展示', ad: '多功能' }\n    };\n    for (const [weak, strat] of Object.entries(strategies)) {\n      if (allNeg.includes(weak)) attackList.push(`- 竞品被抱怨\"${weak}\" → 场景突出${strat.scene}，广告词使用\"${strat.ad}\"`);\n    }\n    result.attackNotes = attackList.join('\\n');\n  }\n  return result;\n}\n\ntry {\n  const inputVars = safeGetNodeData('设置输入变量');\n  const keywords = inputVars.keywords || '';\n  const promptLang = inputVars.prompt_lang || 'cn';\n  const country = inputVars.country || 'jp';\n  const productSpecs = inputVars.product_specs || '';\n  const productTitle = inputVars.title || '';\n  \n  const inputJson = $input.first().json;\n  const listingTitle = inputJson.listing?.title || inputJson.listing_title || '';\n  const listingBullets = inputJson.listing?.bullet_points || inputJson.listing_bullets || [];\n  \n  // 【修复】使用新的extractApiContent从图片识别节点获取内容\n  const fullAnalysis = extractApiContent('图片识别与提示词反推');\n  let productImageAnalysis = '';\n  let competitorVisualAdvantages = '';\n  \n  if (fullAnalysis) {\n    if (fullAnalysis.includes('第一部分') || fullAnalysis.includes('产品图片分析')) {\n      const parts = fullAnalysis.split(/第二部分|竞品图片优点/);\n      productImageAnalysis = parts[0] || fullAnalysis;\n      if (parts[1]) competitorVisualAdvantages = parts[1].trim();\n    } else {\n      productImageAnalysis = fullAnalysis;\n    }\n  }\n  \n  const competitorInfo = extractApiContent('竞品信息解析');\n  const attackData = extractCompetitorAttackData(competitorInfo);\n  \n  // 语言配置\n  const adLangConfig = {\n    'jp': { lang: '日语', langEN: 'Japanese', forbidden: '中文、英文、韩文等非日语文字' },\n    'us': { lang: '英语', langEN: 'English', forbidden: '中文、日文、韩文等非英语文字' },\n    'uk': { lang: '英语', langEN: 'English', forbidden: '中文、日文、韩文等非英语文字' },\n    'de': { lang: '德语', langEN: 'German', forbidden: '中文、英文、日文等非德语文字' },\n    'fr': { lang: '法语', langEN: 'French', forbidden: '中文、英文、日文等非法语文字' },\n    'es': { lang: '西班牙语', langEN: 'Spanish', forbidden: '中文、英文、日文等非西班牙语文字' },\n    'it': { lang: '意大利语', langEN: 'Italian', forbidden: '中文、英文、日文等非意大利语文字' },\n    'cn': { lang: '中文', langEN: 'Chinese', forbidden: '日文、韩文等非中文文字' }\n  };\n  const langConfig = adLangConfig[country] || adLangConfig['us'];\n  const adLang = langConfig.lang;\n  const adLangEN = langConfig.langEN;\n  const forbiddenLangs = langConfig.forbidden;\n  \n  const titleInfo = productTitle ? `\\n产品标题（来自1688）：${productTitle}` : '';\n  \n  const systemPrompt = `你是电商产品图设计AI提示词专家。请生成「6组」主图设计提示词，以JSON格式输出。\n\n【绝对红线】\n- 产品无变形、无失真、真实比例\n- 商品必须是每张图片的绝对主角\n- 图片文字只允许${adLang}，禁止${forbiddenLangs}\n\n【竞品隐性打击策略】\n- 不直接攻击竞品，通过场景设计展示自身优势\n- 针对竞品的常见差评，设计能彰显我们优势的场景\n\n【JSON输出格式】\n{\n  \"prompts\": [\n    {\n      \"image_number\": 1,\n      \"design_description\": \"设计说明\",\n      \"ad_text\": \"${adLangEN}广告词\",\n      \"prompt\": \"完整英文提示词\",\n      \"targeted_weakness\": \"针对的竞品缺点(如有)\"\n    }\n  ]\n}`;\n  \n  const userPrompt = `请为以下产品生成6组主图设计提示词（JSON格式）。\n\n【产品图片分析】\n${productImageAnalysis || '无'}\n\n【基础信息】\n核心关键词：${keywords}\n产品规格：${productSpecs || '未提供'}${titleInfo}\nListing标题：${listingTitle || '未提供'}\n卖点：${(listingBullets || []).slice(0, 3).join(' | ') || '未提供'}\n广告语言：${adLang}（禁止${forbiddenLangs}）\n\n【竞品图片视觉优点】\n${competitorVisualAdvantages || '无'}\n\n【竞品常见差评】\n${attackData.negatives.slice(0, 5).join('\\n') || '无'}\n\n【竞品打击场景建议】\n${attackData.attackNotes || '无特定建议'}\n\n请返回JSON格式。`;\n  \n  const requestBody = {\n    messages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userPrompt }\n    ],\n    max_tokens: 4000\n  };\n  \n  return [{ json: { \n    request_body: requestBody, \n    product_image_analysis: productImageAnalysis, \n    competitor_visual_advantages: competitorVisualAdvantages\n  } }];\n  \n} catch (error) {\n  return [{ json: { request_body: { messages: [{ role: \"user\", content: \"请生成做图提示词\" }], max_tokens: 4000 }, error: error.message } }];\n}"
      },
      "id": "81baaf6a-99a0-486e-a073-86f1a8172f39",
      "name": "构建做图请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1904, 288]
    },
    {
      "parameters": {
        "jsCode": "// 构建A+提示词请求 - 产品真实性优先 + 灵活文字设计\n// 【绝对红线】无变形、无失真，所有场景设计都要符合产品\n// 【新增】支持title参数（来自1688）\n// 【增强】竞品隐性打击策略\n// 【优化】移除不再使用的model字段\n// 【新增】语言红线\n// 【修复】兼容openapi.giikin.com API响应格式\n\nfunction safeGetNodeData(nodeName) {\n  try {\n    const nodeData = $(nodeName);\n    if (nodeData && typeof nodeData.first === 'function') {\n      const first = nodeData.first();\n      if (first && first.json) return first.json;\n    }\n  } catch(e) {}\n  return {};\n}\n\n// 【修复】兼容openapi.giikin.com API格式\nfunction extractApiContent(nodeName) {\n  try {\n    const result = safeGetNodeData(nodeName);\n    \n    // 【最优先】openapi.giikin.com 格式: data直接是字符串内容\n    if (result.data !== undefined) {\n      if (typeof result.data === 'string') return result.data;\n      if (result.data && typeof result.data === 'object') {\n        if (result.data.content) return result.data.content;\n        if (result.data.message && typeof result.data.message === 'string') return result.data.message;\n      }\n    }\n    \n    // 标准OpenAI格式\n    if (result.choices && Array.isArray(result.choices) && result.choices[0]) {\n      if (result.choices[0].message && result.choices[0].message.content) {\n        return result.choices[0].message.content;\n      }\n    }\n    \n    // 其他格式\n    if (result.content) return typeof result.content === 'string' ? result.content : JSON.stringify(result.content);\n    if (result.result && typeof result.result === 'string') return result.result;\n    if (result.text) return result.text;\n    \n  } catch(e) {}\n  return '';\n}\n\nfunction extractCompetitorAttackStrategies(competitorInfo) {\n  const result = {\n    negativePoints: [],\n    improvementOpportunities: [],\n    attackStrategies: []\n  };\n  \n  try {\n    const jsonMatch = competitorInfo.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      \n      if (parsed.negative_reviews) {\n        if (typeof parsed.negative_reviews === 'object' && parsed.negative_reviews.details) {\n          result.negativePoints = parsed.negative_reviews.details;\n        } else if (Array.isArray(parsed.negative_reviews)) {\n          result.negativePoints = parsed.negative_reviews;\n        }\n      }\n      \n      if (parsed.improvement_opportunities) {\n        result.improvementOpportunities = Array.isArray(parsed.improvement_opportunities) \n          ? parsed.improvement_opportunities \n          : [parsed.improvement_opportunities];\n      }\n    }\n  } catch(e) {}\n  \n  const weaknessToStrategy = {\n    '质量差': { scene: '耐用性展示', adCN: '高品质/经久耐用', adEN: 'Premium Quality / Long-lasting', moduleType: '品质展示模块' },\n    '做工粗糙': { scene: '细节特写', adCN: '精工细作/匠心品质', adEN: 'Exquisite Craftsmanship', moduleType: '工艺展示模块' },\n    '材质差': { scene: '材质展示', adCN: '优质材质/环保安全', adEN: 'Premium Material / Eco-Safe', moduleType: '材质展示模块' },\n    '不耐用': { scene: '长期使用展示', adCN: '持久耐用/品质保证', adEN: 'Durable / Quality Guaranteed', moduleType: '耐用性展示模块' },\n    '操作复杂': { scene: '简易操作展示', adCN: '一键操作/简单易用', adEN: 'One-Click / Easy to Use', moduleType: '易用性展示模块' },\n    '包装简陋': { scene: '精美包装展示', adCN: '精美包装/送礼佳选', adEN: 'Premium Packaging / Gift Ready', moduleType: '包装展示模块' },\n    '尺寸不合适': { scene: '人体工学展示', adCN: '完美贴合/人体工学', adEN: 'Perfect Fit / Ergonomic Design', moduleType: '设计展示模块' },\n    '噪音大': { scene: '静谧环境展示', adCN: '静音设计/安静享受', adEN: 'Silent Design / Quiet Enjoyment', moduleType: '静音展示模块' },\n    '不稳定': { scene: '稳定性展示', adCN: '稳固可靠/防滑设计', adEN: 'Rock-Solid / Anti-Slip Design', moduleType: '稳定性展示模块' },\n    '功能少': { scene: '多功能展示', adCN: '多功能/一机多用', adEN: 'Multi-Function / Versatile', moduleType: '多功能展示模块' }\n  };\n  \n  const allNegatives = [...result.negativePoints, ...result.improvementOpportunities].join(' ');\n  for (const [weakness, strategy] of Object.entries(weaknessToStrategy)) {\n    if (allNegatives.includes(weakness) || allNegatives.toLowerCase().includes(weakness.toLowerCase())) {\n      result.attackStrategies.push({ weakness, ...strategy });\n    }\n  }\n  \n  return result;\n}\n\ntry {\n  const inputVars = safeGetNodeData('设置输入变量');\n  const keywords = inputVars.keywords || '';\n  const promptLang = inputVars.prompt_lang || 'cn';\n  const country = inputVars.country || 'jp';\n  const productSpecs = inputVars.product_specs || '';\n  const productTitle = inputVars.title || '';\n  \n  const inputJson = $input.first().json;\n  \n  // 【修复】使用新的extractApiContent获取做图提示词内容\n  const imagePromptsContent = extractApiContent('做图提示词生成');\n  \n  const fullAnalysis = extractApiContent('图片识别与提示词反推');\n  let productImageAnalysis = '';\n  let competitorVisualAdvantages = '';\n  \n  if (fullAnalysis) {\n    if (fullAnalysis.includes('第一部分') || fullAnalysis.includes('产品图片分析')) {\n      const parts = fullAnalysis.split(/第二部分|竞品图片优点/);\n      productImageAnalysis = parts[0] || fullAnalysis;\n      if (parts[1]) competitorVisualAdvantages = parts[1].trim();\n    } else {\n      productImageAnalysis = fullAnalysis;\n    }\n  }\n  \n  const competitorWeakness = extractApiContent('竞品信息解析') || '';\n  const competitorData = extractCompetitorAttackStrategies(competitorWeakness);\n  \n  const adLangConfig = {\n    'jp': { lang: '日语', langEN: 'Japanese', forbidden: '中文、英文、韩文等非日语文字' },\n    'us': { lang: '英语', langEN: 'English', forbidden: '中文、日文、韩文等非英语文字' },\n    'uk': { lang: '英语', langEN: 'English', forbidden: '中文、日文、韩文等非英语文字' },\n    'de': { lang: '德语', langEN: 'German', forbidden: '中文、英文、日文等非德语文字' },\n    'fr': { lang: '法语', langEN: 'French', forbidden: '中文、英文、日文等非法语文字' },\n    'es': { lang: '西班牙语', langEN: 'Spanish', forbidden: '中文、英文、日文等非西班牙语文字' },\n    'it': { lang: '意大利语', langEN: 'Italian', forbidden: '中文、英文、日文等非意大利语文字' },\n    'cn': { lang: '中文', langEN: 'Chinese', forbidden: '日文、韩文等非中文文字' }\n  };\n  const langConfig = adLangConfig[country] || adLangConfig['us'];\n  const adLang = langConfig.lang;\n  const adLangEN = langConfig.langEN;\n  const forbiddenLangs = langConfig.forbidden;\n  \n  const marketFontConfig = {\n    'jp': { fontStyle: 'modern Japanese Gothic style font', accentColor: 'red #E60033 or orange #FF6600' },\n    'us': { fontStyle: 'clean modern sans-serif font', accentColor: 'Amazon orange #FF9900 or trust blue' },\n    'uk': { fontStyle: 'elegant sans-serif font', accentColor: 'navy blue or classic black' },\n    'de': { fontStyle: 'precise geometric sans-serif font', accentColor: 'dark blue or green #2E7D32' },\n    'fr': { fontStyle: 'elegant serif or sans-serif', accentColor: 'burgundy or gold #D4AF37' },\n    'es': { fontStyle: 'warm modern sans-serif font', accentColor: 'warm orange' },\n    'it': { fontStyle: 'stylish display font', accentColor: 'classic black or gold' },\n    'cn': { fontStyle: 'modern Chinese sans-serif font', accentColor: 'red #E60033 or gold' }\n  };\n  const fontConfig = marketFontConfig[country] || marketFontConfig['us'];\n  \n  const titleInfo = productTitle ? `\\n产品标题（来自1688）：${productTitle}` : '';\n  \n  const systemPrompt = `你是亚马逊A+页面设计专家，请为产品生成「4个A+模块」的设计提示词。\n\nA+规范：图片尺寸970x600px，禁止价格/促销/联系方式\n\n【绝对红线】\n- 产品无变形、无失真\n- 商品必须是每张图片的绝对主角\n- 图片文字只允许${adLang}，禁止${forbiddenLangs}\n\n【竞品隐性打击策略】\n- 不直接攻击竞品，通过正面展示自身优势来隐性对比\n- 场景设计要暗示解决竞品用户的痛点\n\n【4个A+模块框架】\n1. 品牌头图 - 产品+品牌主张\n2. 改进卖点展示 - 针对竞品差评的改进\n3. 使用场景展示 - 针对竞品体验问题\n4. 规格参数展示 - 针对竞品品质/尺寸问题\n\n【提示词结构】\n每个提示词包含：产品主体 + 场景环境 + 构图视角 + ${adLangEN}广告文字 + 质量保证(no distortion, 970x600px, 8K)`;\n  \n  const userPrompt = `请为以下产品生成「4个A+模块」的设计提示词。\n\n【产品图片分析】\n${productImageAnalysis || '无'}\n\n【基础信息】\n核心关键词：${keywords}\n产品规格：${productSpecs || '未提供'}${titleInfo}\n广告语言：${adLang}（禁止${forbiddenLangs}）\n\n【主图提示词参考】\n${imagePromptsContent || '无'}\n\n【竞品图片视觉优点】\n${competitorVisualAdvantages || '无'}\n\n【竞品常见差评】\n${competitorWeakness || '无'}\n\n【输出格式】\n每个模块输出：\n---\n【模块N】模块类型 (970x600)\n\n场景设计说明：[..]\n广告词设计：[${adLang}主标题 + 副文字]\n\n提示词：\n[完整英文提示词，包含产品主体+场景环境+构图视角+${adLangEN}广告文字+no distortion+970x600px]\n---`;\n  \n  const requestBody = {\n    messages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userPrompt }\n    ],\n    max_tokens: 4000\n  };\n  \n  return [{ json: { \n    request_body: requestBody, \n    product_image_analysis: productImageAnalysis, \n    competitor_visual_advantages: competitorVisualAdvantages,\n    competitor_attack_strategies: competitorData.attackStrategies,\n    competitor_negative_points: competitorData.negativePoints\n  } }];\n  \n} catch (error) {\n  return [{ json: { request_body: { messages: [{ role: \"user\", content: \"请生成A+页面提示词\" }], max_tokens: 4000 }, error: error.message } }];\n}"
      },
      "id": "18fc5fbf-cc0d-4b35-8a4c-3ced73dcbb8b",
      "name": "构建A+请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2352, 384]
    },
    {
      "parameters": {
        "jsCode": "// 解析callback中的所有图片结果\n// Wait节点恢复后，callback数据会作为$input传入\n// 【修复】兼容 body 包装：n8n Wait webhook 恢复时，POST 数据在 json.body 中\nconst rawInput = $input.first().json;\n// 尝试从 body 中获取数据（webhook POST），如果没有则直接使用 rawInput\nconst callbackData = rawInput.body || rawInput;\n\n// 调试信息\nconsole.log('数据来源:', rawInput.body ? 'body' : 'direct');\nconsole.log('rawInput keys:', Object.keys(rawInput));\nconsole.log('callbackData keys:', Object.keys(callbackData));\n\n// 获取request_id（从主流程的\"设置输入变量\"节点获取，因为是在同一执行中）\nlet requestId = '';\ntry {\n  const inputVars = $('设置输入变量').first().json || {};\n  requestId = inputVars.request_id || $execution.id;\n} catch(e) {\n  requestId = $execution.id;\n}\n\n// 提取工作流信息\nconst workflowId = callbackData.workflow_id;\nconst runId = callbackData.run_id;\nconst workflowType = callbackData.workflow_type;\n\n// 从result.generation_data中提取所有图片（兼容可能的data字段）\nconst generationData = callbackData.result?.generation_data || callbackData.data?.generation_data || [];\nconst generatedImages = [];\n\n// 遍历所有生成结果，提取图片URL\nfor (const item of generationData) {\n  const uniqueKey = item.unique_key;\n  const imageUrls = item.generated_image_urls || [];\n  \n  // 从unique_key中提取图片索引（格式：image_1_requestId）\n  const keyMatch = uniqueKey.match(/image_(\\d+)_/);\n  const imageIndex = keyMatch ? parseInt(keyMatch[1]) : null;\n  \n  // 每项可能有多张图片（generated_image_urls是数组）\n  for (let i = 0; i < imageUrls.length; i++) {\n    generatedImages.push({\n      unique_key: uniqueKey,\n      image_index: imageIndex || (generatedImages.length + 1),\n      image_url: imageUrls[i],\n      size: item.size,\n      prompt: item.prompt\n    });\n  }\n}\n\n// 按image_index排序\ngeneratedImages.sort((a, b) => (a.image_index || 0) - (b.image_index || 0));\n\nreturn [{\n  json: {\n    request_id: requestId,  // 从主流程获取的request_id\n    workflow_id: workflowId,\n    run_id: runId,\n    workflow_type: workflowType,\n    generated_images: generatedImages,\n    image_count: generatedImages.length,\n    all_image_urls: generatedImages.map(img => img.image_url),\n    callback_data: callbackData  // 保留原始数据用于调试\n  }\n}];"
      },
      "id": "865ca548-d032-4252-9b78-175fccb79128",
      "name": "解析所有图片结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3024, 192]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 2,
        "options": {}
      },
      "id": "2032c7d8-e84a-450d-a448-4ffd96181a7d",
      "name": "等待生图回调",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2800, 192],
      "webhookId": "74c293a4-10fe-4cd7-a2e6-471399826f59"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "gJyl5u1iSBSZfY7M"
        },
        "options": {}
      },
      "id": "get-token-unified",
      "name": "获取Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [336, 288]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "gJyl5u1iSBSZfY7M"
        },
        "options": {}
      },
      "id": "get-token-for-callback",
      "name": "获取回调Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3584, 288]
    },
    {
      "parameters": {},
      "id": "error-trigger-node",
      "name": "错误触发器",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [1392, 784]
    },
    {
      "parameters": {
        "jsCode": "// 处理错误信息，构建失败回调数据\n// 从错误触发器获取错误信息和原始执行数据\n\nconst errorData = $input.first().json;\n\n// 提取错误信息\nconst errorMessage = errorData.execution?.error?.message || '未知错误';\nconst errorNode = errorData.execution?.error?.node?.name || '未知节点';\nconst executionId = errorData.execution?.id || 'unknown';\n\n// 尝试从执行数据中获取原始输入参数\nlet requestId = executionId;\nlet callbackUrl = '';\nlet country = 'jp';\nlet keywords = '';\n\ntry {\n  // 从执行数据中查找\"设置输入变量\"节点的输出\n  const executionData = errorData.execution?.data?.resultData?.runData;\n  if (executionData && executionData['设置输入变量']) {\n    const inputVarsOutput = executionData['设置输入变量'][0]?.data?.main?.[0]?.[0]?.json;\n    if (inputVarsOutput) {\n      requestId = inputVarsOutput.request_id || executionId;\n      callbackUrl = inputVarsOutput.callback_url || '';\n      country = inputVarsOutput.country || 'jp';\n      keywords = inputVarsOutput.keywords || '';\n    }\n  }\n} catch(e) {\n  // 获取失败，使用默认值\n}\n\n// 构建失败回调数据\nconst failureResult = {\n  request_id: requestId,\n  success: false,\n  error: {\n    message: errorMessage,\n    failed_node: errorNode,\n    execution_id: executionId,\n    timestamp: new Date().toISOString()\n  },\n  meta: {\n    generated_at: new Date().toISOString(),\n    quality_score: 0,\n    workflow_version: 'v5-batch-async',\n    status: 'failed'\n  },\n  input: {\n    country: country,\n    keywords: keywords\n  }\n};\n\nreturn [{\n  json: {\n    callback_url: callbackUrl,\n    request_id: requestId,\n    success: false,\n    result_json: failureResult,\n    error_message: errorMessage,\n    error_node: errorNode\n  }\n}];"
      },
      "id": "error-handler-code",
      "name": "错误信息处理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1616, 784]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "gJyl5u1iSBSZfY7M"
        },
        "options": {}
      },
      "id": "error-get-token",
      "name": "获取错误回调Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1840, 784]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('错误信息处理').item.json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $('错误信息处理').item.json.request_id, success: false, error: $('错误信息处理').item.json.error_message, failed_node: $('错误信息处理').item.json.error_node, result: $('错误信息处理').item.json.result_json, completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "error-callback-notify",
      "name": "错误回调通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2064, 784],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "手动触发": {
      "main": [
        [
          {
            "node": "设置输入变量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置输入变量": {
      "main": [
        [
          {
            "node": "获取Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "图片识别与提示词反推": {
      "main": [
        [
          {
            "node": "合并信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "竞品信息解析": {
      "main": [
        [
          {
            "node": "合并信息",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并信息": {
      "main": [
        [
          {
            "node": "构建Listing请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "做图提示词生成": {
      "main": [
        [
          {
            "node": "提示词增强与请求构建",
            "type": "main",
            "index": 0
          },
          {
            "node": "构建A+请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提示词增强与请求构建": {
      "main": [
        [
          {
            "node": "提交批量生图任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并结果": {
      "main": [
        [
          {
            "node": "结果整合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook触发器": {
      "main": [
        [
          {
            "node": "设置输入变量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "表单触发器": {
      "main": [
        [
          {
            "node": "设置输入变量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "竞品信息抓取": {
      "main": [
        [
          {
            "node": "构建竞品解析请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "异步Webhook触发器": {
      "main": [
        [
          {
            "node": "设置输入变量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listing文案生成": {
      "main": [
        [
          {
            "node": "构建做图请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析所有图片结果": {
      "main": [
        [
          {
            "node": "合并结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交批量生图任务": {
      "main": [
        [
          {
            "node": "等待生图回调",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待生图回调": {
      "main": [
        [
          {
            "node": "解析所有图片结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A+提示词生成": {
      "main": [
        [
          {
            "node": "合并结果",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "获取Token": {
      "main": [
        [
          {
            "node": "竞品信息抓取",
            "type": "main",
            "index": 0
          },
          {
            "node": "构建图片请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建图片请求": {
      "main": [
        [
          {
            "node": "图片识别与提示词反推",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建竞品解析请求": {
      "main": [
        [
          {
            "node": "竞品信息解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建Listing请求": {
      "main": [
        [
          {
            "node": "Listing文案生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建做图请求": {
      "main": [
        [
          {
            "node": "做图提示词生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建A+请求": {
      "main": [
        [
          {
            "node": "A+提示词生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "结果整合": {
      "main": [
        [
          {
            "node": "获取回调Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取回调Token": {
      "main": [
        [
          {
            "node": "回调通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "错误触发器": {
      "main": [
        [
          {
            "node": "错误信息处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "错误信息处理": {
      "main": [
        [
          {
            "node": "获取错误回调Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取错误回调Token": {
      "main": [
        [
          {
            "node": "错误回调通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c56b9a7d-221a-4ed4-8251-69f3d7bd2b37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10b30903b18c2c0ede7fbb39ab96f8464deb9a06f8a8dd6a42ad0eb75b9f65fc"
  },
  "id": "IVvA8Vr3Ar5oDtOZ",
  "tags": []
}
